<h1>Assigned to me</h1>
<%= render partial: 'table', locals: {tasks: @myTasks} %>
<h1>Created tasks</h1>
<%= render partial: 'table', locals: {tasks: @myCreatedTasks} %>
<br>
<%= link_to 'New Task', new_task_path %>
